.container {
  transition: transform 0.2s, background 0.2s;
  height: 350px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    background-color: rgb(250, 250, 250);
  }
  @media (min-width: 1024px) {
    & {
      height: 500px;
    }
  }
}

.image_wrapper {
  position: relative;
  width: 100%;

  img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
