#header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  height: 42px;
  background-color: #000;
  font-size: 18px;

  z-index: 1000;
}

#logo_wrapper {
  z-index: 20;
  background-color: #000;
  .logo {
    height: 42px;

    path {
      fill: #fff;
    }
  }

  span {
    color: #98fc4d;
  }
}

@media (min-width: 1024px) {
  #header {
    font-size: 24px;
    height: 68px;
  }

  #logo_wrapper {
    .logo {
      height: 68px;
    }
  }
}
