#container {
  padding-top: 1rem;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  align-items: center;
  justify-content: center;

  #name,
  #image_wrapper {
    grid-row: 1/1;
    grid-column: 2;
  }

  #description {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  #image_wrapper {
    height: 60vh;
    padding: 0 3rem;

    img {
      height: 100%;
      width: auto;
    }
  }

  @media (min-width: 520px) {
    & {
      column-gap: 3rem;
      align-items: flex-start;
    }

    #name {
      grid-row: 1/1;
      grid-column: 1 / span 2;
    }

    #description,
    #image_wrapper {
      grid-row: 2;
    }

    #image_wrapper {
      grid-column: 1;
    }

    #description {
      grid-column: 2;
    }
  }

  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h2,
  h3 {
    margin: 1.75rem 0;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    margin: 1rem 0;
    font-size: 18px;
  }

  span {
    font-size: 16px;
  }
}
