.icon {
  width: 20px;
}

.icon:before,
.icon:after,
.icon div {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 4px 0;
  transition: 0.5s;
}

.icon::before {
  margin-top: 0;
}
.icon::after {
  margin-bottom: 0;
}

.icon.open::before {
  transform: translateY(7px) rotate(135deg);
}
.icon.open::after {
  transform: translateY(-7px) rotate(-135deg);
}
.icon.open div {
  transform: scale(0);
}
